@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600;700&family=Sora:wght@700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #fffbfb;
}

@layer components {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  @media screen(xl) {
    .container {
      width: 1440px;
      padding: 0 135px;
    }
  }
  .nav-active {
    @apply font-bold !important;
  }
  .nav-active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 8px;
    border-radius: 999px;
    @apply bg-mainColor;
  }
}
